/* General */

body {
  background-color: rgb(225, 232, 237);
  /*background-color: rgb(254, 246, 254);*/
  font-family: 'Open Sans';
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2, h3, h4, h5, h6 {
  margin-top: 5pt;
}

a {
  color: rgb(67, 132, 185);
  text-decoration: none;
}

a:hover {
  color: rgb(85, 168, 236);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul ul {
  padding-left: 5pt;
}

.modulename {
  color: rgb(87, 110, 198);
}

.prefix {
  color: rgb(62, 83, 89);
  font-weight: lighter;
}

.abstract {
  color: rgb(125, 136, 139);
}

/* The side bar */
aside {
  background-color: rgb(62, 120, 118);
  width: 196px;
  position: fixed;
  top: 0;
  bottom: 0;
}

header {
  background-color: rgb(40, 77, 75);
}

aside h1 {
  font-size: 15pt;
}

aside ul {
  border-left: 5pt solid rgb(38, 73, 71);
}

aside ul li {
  width: 100%;
}

aside a {
  display: block;
  padding-left: 2pt;
  width: calc(100% - 2pt);
  color: rgb(47, 61, 56);
}

header a {
  padding-left: 0;
  width: 100%;
}

aside a:hover {
  background-color: rgb(81, 158, 155);
  color: rgb(47, 61, 56);
}

aside ul ul {
  border-left: 5pt solid rgb(38, 73, 71);
  padding-left: 0;
}

/* Main content */

main {
  max-width: 600pt;
  padding: 5pt 12pt;
  margin-left: 196px;
  background-color: rgb(254, 246, 254);
}

table.belowh {
  border-top: 1pt solid rgb(116, 116, 116);
}

main h2 {
  font-weight: normal;
}

main hr {
  margin-bottom: 30pt;
  border: 1pt solid rgb(125, 136, 139);
}
