body {
  background-color: rgb(255, 156, 6);
  text-align: center;
}

h1 {
  margin-top: 80pt;
  display: inline-block;
}

h2 {
  margin-top: 10pt;
  color: white;
  font-family: 'Open Sans';
  font-size: 24pt;
}
