<article>
  <span class="arrow-right arrow{% if include.open %} rotate{% endif %}"></span>
  <span class="showmore">{% highlight ocaml %}{{ include.listing }}{% endhighlight %}</span>
  <div class="more{% if include.open %} open{% endif %}">
  <p>{{ include.description }}</p>
{% if include.values %}
{% assign pairs = include.values | split: '£' %}
<h4>Possible values</h4>
<table class="values">
{% for pair in pairs %}
{% unless forloop.first %}
{% assign val_desc = pair | split: '§' %}
<tr>
<td class="variant">{% highlight ocaml %}{{ val_desc[0] }}{% endhighlight %}</td>
<td>{{ val_desc[1] }}</td>
</tr>
{% endunless %}
{% endfor %}
</table>
{% endif %}
{% if include.struct_values %}
{% assign pairs = include.struct_values | split: '£' %}
<h4>Structure members</h4>
<table class="values">
{% for pair in pairs %}
{% unless forloop.first %}
{% assign val_desc = pair | split: '§' %}
<tr>
<td>{% highlight ocaml %}{{ val_desc[0] }}{% endhighlight %}</td>
<td>{{ val_desc[1] | markdownify }}</td>
</tr>
{% endunless %}
{% endfor %}
</table>
{% endif %}
{% if include.related %}
{% capture see_content_tmp %}
{% assign related_modules = include.related | split: ',' %}
{% for related_module in related_modules %}
{% for candidate in site.modules %}
{% assign tmp = candidate.prefix | append: '.' %}
{% assign candidate_path = tmp | append: candidate.modulename %}
{% if candidate_path == related_module %}
, <a href="{{ candidate.url }}">{{ related_module }}</a>
{% endif %}
{% endfor %}
{% endfor %}
{% endcapture %}
{% assign see_content = see_content_tmp | remove_first: ', ' %}
<span class="see">See: {{ see_content | strip_newlines }}</span>
{% endif %}
  </div>
</article>
