<nav>
  <a href="#" id="nav-trigger">Menu<span></span></a>
</nav>
<aside>
  <header>
    <a href="/index.html">
      <img src="/img/ogaml-logo.svg" alt="OGAML" width="100%" />
    </a>
  </header>
  <h1>
    <a href="/doc.html">Modules</a>
    <span class="showall">Show all</span>
  </h1>
  <ul id="main-nav">
    {% for module in site.modules %}
    {% unless module.prefix %}
    <li>
      <span class="arrow-right arrow shownav"></span>
      <a href="{{ module.url }}">{{ module.modulename }}</a>
      {% include nav_tree.html name=module.modulename %}
    </li>
    {% endunless %}
    {% endfor %}
  </ul>
</aside>
