<nav>
  <a href="#" id="nav-trigger">Menu<span></span></a>
</nav>
<aside>
  <header>
    <a href="/index.html">
      <img src="/img/ogaml-logo.svg" alt="OGAML" width="196px" />
    </a>
  </header>
  <h1><a href="/doc.html">Modules</a></h1>
  <ul>
    {% for module in site.modules %}
    {% unless module.prefix %}
    <li><a href="{{ module.url }}">{{ module.modulename }}</a>
      {% include nav_tree.html name=module.modulename %}
    </li>
    {% endunless %}
    {% endfor %}
  </ul>
</aside>
