<!doctype html>
<html lang="en">
  <head>
    <meta content="charset=utf-8">
    <title>ogaml Documentation{% if page.modulename }%} - {{page.modulename}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Style -->
    <link href="/css/doc.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <img src="/img/small-logo.png" alt="OGAML" />
    </header>
    <main>
      <h1>Module <span class="modulename">{{ page.modulename }}</span></h1>
      {% if page.abstract %}<span class="abstract">{{ page.abstract }}</span>{% endif %}
      {% assign sub_count = 0 %}
      {% for submodule in site.modules %}
      {% if submodule.parent == page.modulename %}
        {% assign sub_count = sub_count | plus: 1 %}
      {% endif %}
      {% endfor %}
      {% if sub_count > 0 %}
      <h2>Submodules</h2>
      <ul>
        {% for submodule in site.modules %}
        {% if submodule.parent == page.modulename %}
        <li>
          <a href="{{ submodule.url }}">{{ submodule.modulename }}</a>
          {% if submodule.abstract %}{{ submodule.abstract }}{% endif %}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      {{content}}
    </main>
  </body>
</html>
