{% capture fullname %}{% if page.prefix %}{{ page.prefix }}.{{ page.modulename }}{% else %}{{ page.modulename }}{% endif %}{% endcapture %}
<!doctype html>
<html lang="en">
  {% include doc-head.html %}
  <body>
    {% include nav.html mainname=fullname %}
    <main>
      <h1>Module
        {% if page.prefix %}<span class="prefix">{{ page.prefix }}.</span>{% endif %}<!--
     --><span class="modulename">{{ page.modulename }}</span></h1>
      {% if page.abstract %}<span class="abstract">{{ page.abstract }}</span>{% endif %}
      {% assign sub_count = 0 %}
      {% for submodule in site.modules %}
      {% if submodule.prefix == fullname %}
        {% assign sub_count = sub_count | plus: 1 %}
      {% endif %}
      {% endfor %}
      <hr/>
      {% if sub_count > 0 %}
      <h2>Submodules</h2>
      <table class="belowh">
        {% for submodule in site.modules %}
        {% if submodule.prefix == fullname %}
        <tr>
          <td><a href="{{ submodule.url }}">{{ submodule.modulename }}</a></td>
          <td>{{ submodule.abstract }}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
      {% else %}
      {% endif %}
      {{content}}
    </main>
  </body>
</html>
