<!doctype html>
<html lang="en">
  {% capture more %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/plugins/tipuesearch/tipuesearch_content.js"></script>
  <script src="/plugins/tipuesearch/tipuesearch_set.js"></script>
  <script src="/plugins/tipuesearch/tipuesearch.min.js"></script>
  {% endcapture %}
  {% include doc-head.html more=more %}
  <body>
    {% include nav.html %}
    <main>
      {{content}}
    </main>
  </body>
</html>
